ul li{
    list-style: none;

}

.contenedorNav{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.ahref{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.ahref a{
    text-decoration: none;
    color: rgb(2, 2, 121);
}

.carrito{
    margin-left: 15px;
    color: rgb(2, 2, 121);
}

.contenedorNav img{
    width: 60px;
    height: 60px;
}