.contenedorFooter{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 8, 8);
    height: 30vh;
    gap: 20px;
}

.contenedorFooter img{
    width: 80px;
    
}

.contenedorFooter p{
    color: rgb(51, 51, 51);
    font-family: 'Anton', sans-serif;
    font-size: 10px;
}